body {
	background-color: black;
	color: #ddd;
	font-family: verdana, tahoma, arial, helvetica;
	font-size: 12pt;
}

@media (min-width: 1000px) {
	#container {
		max-width: 60%;
	}
}

@media
	(-webkit-min-device-pizel-ratio: 2),
	(min-resolution: 192dpi) {

	body {
		font-size: 10pt;
	}
	
	img {
		display: none;
	}

	#container {
		width: 100%;
	}
}

a {
	color: #e5a00d;
}

#languages {
	float: right;
	display: none;
}

#languages a {
	color: #444;
	font-size: 10pt;
}

a:hover {
	color: #996600;
}

p {
	padding: 0px 20px 0px 20px;
	margin: 12px 0;
}

h2 {
	padding-left: 20px;
}

p.h3 {
	padding-left: 40px;
}

img {
	max-width: 30%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	padding: 0;
}

#logo_container p {
	text-align: center;
	color: #444;
	font-size: 10pt;
	font-style: italic;
	padding: 0;
	margin: 5px;
}

#logo_container p a {
	color: #555;
}

#container {
	overflow-x: hidden;
	background-color: #222222;
	padding-bottom: 20px;
	margin: 0 auto 50px auto;
}

#content {
	padding: 0 20px 0 20px;
}

#nav {
	display: table;
	margin: 0 auto;
}

ul {
	list-style-type: none;
	overflow: hidden;
	padding: 0;
}

li {
	float: left;
}

li a {
	display: block;
	text-align: center;
	padding: 16px;
	text-decoration: none;
	color: white;
}
